.btn {
  color: #b629d5;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 350px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  display: block;
  background-image: linear-gradient(to left, transparent, transparent 50%, #b629d5 50%, #b629d5);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #b629d5;
}

.btn:hover {
  cursor: pointer;
  background-position: 0 0;
  color: #fff;
}
